<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template></Template><TotalTime>13</TotalTime><Application>LibreOffice/7.5.5.2$Windows_X86_64 LibreOffice_project/ca8fe7424262805f223b9a2334bc7181abbcbf5e</Application><AppVersion>15.0000</AppVersion><Pages>2</Pages><Words>579</Words><Characters>3714</Characters><CharactersWithSpaces>4408</CharactersWithSpaces><Paragraphs>57</Paragraphs></Properties>